@font-face {
  font-family: 'fontello-icon-fonts';
  src: url('../../font/fontello-icon-fonts.eot?63236073');
  src: url('../../font/fontello-icon-fonts.eot?63236073#iefix') format('embedded-opentype'),
       url('../../font/fontello-icon-fonts.woff2?63236073') format('woff2'),
       url('../../font/fontello-icon-fonts.woff?63236073') format('woff'),
       url('../../font/fontello-icon-fonts.ttf?63236073') format('truetype'),
       url('../../font/fontello-icon-fonts.svg?63236073#fontello-icon-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello-icon-fonts';
    src: url('../../font/fontello-icon-fonts.svg?63236073#fontello-icon-fonts') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello-icon-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-arrow-left:before { content: '\2190'; } /* '←' */
.icon-arrow-right:before { content: '\2192'; } /* '→' */
.icon-fork:before { content: '\2387'; } /* '⎇' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-warning-sign:before { content: '\26a0'; } /* '⚠' */
.icon-cogs:before { content: '\26ef'; } /* '⛯' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-ok-sign:before { content: '\2714'; } /* '✔' */
.icon-remove:before { content: '\2715'; } /* '✕' */
.icon-remove-sign:before { content: '\2716'; } /* '✖' */
.icon-asterisk:before { content: '\2731'; } /* '✱' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-exclamation-sign:before { content: '\2757'; } /* '❗' */
.icon-plus-sign:before { content: '\2795'; } /* '➕' */
.icon-minus-sign:before { content: '\2796'; } /* '➖' */
.icon-undo:before { content: '\27f2'; } /* '⟲' */
.icon-redo:before { content: '\27f3'; } /* '⟳' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-up:before { content: '\e0ae'; } /* '' */
.icon-down:before { content: '\e0d5'; } /* '' */
.icon-globe:before { content: '\e0e2'; } /* '' */
.icon-ok-circle:before { content: '\e702'; } /* '' */
.icon-remove-circle:before { content: '\e703'; } /* '' */
.icon-help-sign:before { content: '\e704'; } /* '' */
.icon-info-sign:before { content: '\e705'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-download:before { content: '\e758'; } /* '' */
.icon-chevron-down:before { content: '\e75c'; } /* '' */
.icon-refresh:before { content: '\e760'; } /* '' */
.icon-play-circle:before { content: '\e761'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-align-left:before { content: '\e77e'; } /* '' */
.icon-list:before { content: '\e782'; } /* '' */
.icon-road:before { content: '\e78f'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-list-alt:before { content: '\e801'; } /* '' */
.icon-time:before { content: '\e802'; } /* '' */
.icon-calendar-empty:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-hash:before { content: '\e806'; } /* '' */
.icon-indent-right:before { content: '\e807'; } /* '' */
.icon-eraser:before { content: '\e808'; } /* '' */
.icon-off:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-scissors:before { content: '\e80b'; } /* '' */
.icon-paste:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-docs:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-database:before { content: '\e812'; } /* '' */
.icon-steering-wheel:before { content: '\e813'; } /* '' */
.icon-lock-1:before { content: '\e814'; } /* '' */
.icon-ticket:before { content: '\e815'; } /* '' */
.icon-download-cloud:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-up-circled2:before { content: '\e819'; } /* '' */
.icon-minus:before { content: '\e81a'; } /* '' */
.icon-gauge:before { content: '\e81b'; } /* '' */
.icon-truck:before { content: '\e81c'; } /* '' */
.icon-magic:before { content: '\e81d'; } /* '' */
.icon-key:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-star-empty:before { content: '\e820'; } /* '' */
.icon-archive:before { content: '\e821'; } /* '' */
.icon-folder-alt:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-right-open:before { content: '\e824'; } /* '' */
.icon-up-open:before { content: '\e825'; } /* '' */
.icon-down-dir-1:before { content: '\e826'; } /* '' */
.icon-right-dir-1:before { content: '\e827'; } /* '' */
.icon-google:before { content: '\e828'; } /* '' */
.icon-gplus:before { content: '\e829'; } /* '' */
.icon-facebook:before { content: '\e82a'; } /* '' */
.icon-doc-1:before { content: '\e82b'; } /* '' */
.icon-doc-text:before { content: '\e82c'; } /* '' */
.icon-newspaper:before { content: '\e82d'; } /* '' */
.icon-level-down:before { content: '\e82e'; } /* '' */
.icon-history:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-bm-defining:before { content: '\e831'; } /* '' */
.icon-fa-on:before { content: '\e832'; } /* '' */
.icon-families:before { content: '\e833'; } /* '' */
.icon-circle-thin:before { content: '\e834'; } /* '' */
.icon-features:before { content: '\e835'; } /* '' */
.icon-folder-up:before { content: '\e836'; } /* '' */
.icon-chart-bar:before { content: '\e837'; } /* '' */
.icon-sellable-units:before { content: '\e838'; } /* '' */
.icon-product-range:before { content: '\e839'; } /* '' */
.icon-folder:before { content: '\e83a'; } /* '' */
.icon-configurator-layout:before { content: '\e83b'; } /* '' */
.icon-folder-open:before { content: '\e83c'; } /* '' */
.icon-sellable-units-defining:before { content: '\e83d'; } /* '' */
.icon-wi-history:before { content: '\e83e'; } /* '' */
.icon-wi-changes:before { content: '\e83f'; } /* '' */
.icon-filter-outline:before { content: '\e840'; } /* '' */
.icon-continuous-effectivity:before { content: '\e841'; } /* '' */
.icon-string-family:before { content: '\e842'; } /* '' */
.icon-numeric-family:before { content: '\e843'; } /* '' */
.icon-broken-effectivity:before { content: '\e844'; } /* '' */
.icon-new-package-status-succeeded:before { content: '\e845'; } /* '' */
.icon-new-package-content:before { content: '\e848'; } /* '' */
.icon-new-package-groups:before { content: '\e84a'; } /* '' */
.icon-new-package-status-failed:before { content: '\e84b'; } /* '' */
.icon-new-package-releases:before { content: '\e84c'; } /* '' */
.icon-new-package-status-aborted:before { content: '\e84d'; } /* '' */
.icon-new-packages:before { content: '\e84e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-circle-arrow-up:before { content: '\f0aa'; } /* '' */
.icon-circle-arrow-down:before { content: '\f0ab'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-picture:before { content: '\f304'; } /* '' */
.icon-gift:before { content: '\f381'; } /* '' */
.icon-user:before { content: '\f464'; } /* '' */
.icon-users:before { content: '\f465'; } /* '' */
.icon-save:before { content: '\f4be'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
.icon-chart-line:before { content: '\f4c8'; } /* '' */
.icon-book:before { content: '\f4d5'; } /* '' */
.icon-upload:before { content: '\f4e4'; } /* '' */
.icon-download-alt:before { content: '\f4e5'; } /* '' */
.icon-random:before { content: '\f500'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */
.icon-link:before { content: '\f517'; } /* '' */
.icon-wrench:before { content: '\f527'; } /* '' */
.icon-clock:before { content: '\f554'; } /* '' */
